{% if blocks.size > 0 %}
  {%- liquid
    assign animation_effect = settings.animations
    assign animated = false
    if animation_effect != 'none'
      assign animated = true
    endif
  -%}
  <div class="m-footer--middle{% if bordered %} m-footer--middle-bordered{% endif %} m-gradient m-color-{{ section.settings.color_scheme }}">
    <div class="{{ container }}">
      <div class="m-footer--accordion">
        {% for block in blocks %}
          {% liquid
            case block.settings.width
              when '16%'
                assign block_width = 'lg:m:w-2/12'
              when '20%'
                assign block_width = 'lg:m:w-1/5'
              when '25%'
                assign block_width = 'lg:m:w-1/4'
              when '33%'
                assign block_width = 'lg:m:w-1/3'
              when '50%'
                assign block_width = 'lg:m:w-1/2'
              when '66%'
                assign block_width = 'lg:m:w-8/12'
              when '75%'
                assign block_width = 'lg:m:w-9/12'
              when '83%'
                assign block_width = 'lg:m:w-10/12'
              when '100%'
                assign block_width = 'lg:m:w-full'
            endcase

            assign block_title = block.settings.title
            if block.type == 'menu' and block_title == blank
              assign block_title = linklists[block.settings.menu].title
            endif

            assign accordion_class = ''
            if block_title != blank
              assign accordion_class = accordion_class | append: ' m-accordion--item'
            endif
            if block.settings.open_default
              assign accordion_class = accordion_class | append: ' open'
            endif
            if bordered and forloop.last != true
              assign accordion_class = accordion_class | append: ' m-footer--block-bordered'
            endif
            if block.settings.order_first
              assign accordion_class = accordion_class | append: ' order-first'
            endif
          %}

          <div class="m-footer--block m-footer--block-{{ block.type }}{{ accordion_class }} m:w-full {{ block_width }}">
            <div
              class="m-footer--block-inner{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}"
              {% if animated %}
                data-cascade
                style="--animation-order: {{ index }};"
              {% endif %}
            >
              {% if block_title != blank %}
                <h3 class="m-accordion--item-button m-footer--block-title">
                  {{ block_title }}
                  <span class="m-accordion--item-icon md:m:hidden">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.5306 6.53073L8.5306 11.5307C8.46092 11.6007 8.37813 11.6561 8.28696 11.694C8.1958 11.7318 8.09806 11.7513 7.99935 11.7513C7.90064 11.7513 7.8029 11.7318 7.71173 11.694C7.62057 11.6561 7.53778 11.6007 7.4681 11.5307L2.4681 6.53073C2.3272 6.38984 2.24805 6.19874 2.24805 5.99948C2.24805 5.80023 2.3272 5.60913 2.4681 5.46823C2.60899 5.32734 2.80009 5.24818 2.99935 5.24818C3.19861 5.24818 3.3897 5.32734 3.5306 5.46823L7.99997 9.93761L12.4693 5.46761C12.6102 5.32671 12.8013 5.24756 13.0006 5.24756C13.1999 5.24756 13.391 5.32671 13.5318 5.46761C13.6727 5.60851 13.7519 5.7996 13.7519 5.99886C13.7519 6.19812 13.6727 6.38921 13.5318 6.53011L13.5306 6.53073Z" fill="currentColor"/>
                    </svg>
                  </span>
                </h3>
              {% endif %}
              {% case block.type %}
                {% when 'menu' %}
                  {%- liquid
                    assign menu = linklists[block.settings.menu]
                    assign accordion_content_class = ''
                    if block.settings.title != blank or block_title != blank
                      assign accordion_content_class = ' m-accordion--item-content'
                    endif
                  -%}
                  {% if menu.links != blank %}
                    <ul class="m-footer--block-content list-unstyled m-link-lists{{ accordion_content_class }}">
                      {% for link in menu.links %}
                        <li class="m-link-lists--item m:block">
                          <a href="{{ link.url }}" class="m-link">
                            {{ link.title }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% when 'our_store' %}
                  <div class="{% if block.settings.title != blank %}m-accordion--item-content{% endif %} m-footer--block-content">
                    {% unless block.settings.description == blank %}
                      <div class="block-text rte">
                        {{ block.settings.description }}
                      </div>
                    {% endunless %}
                    <div class="block-text">
                      {% if settings.contact_phone_number and block.settings.show_phone %}
                        <a class="m:block" href="tel:{{ settings.contact_phone_number }}">
                          {{ settings.contact_phone_number }}
                        </a>
                      {% endif %}
                      {% if settings.contact_email and block.settings.show_email %}
                        <a class="m:block" href="mailto:{{ settings.contact_email }}">
                          {{ settings.contact_email }}
                        </a>
                      {% endif %}
                      {% if block.settings.show_socials_link %}
                        {% render 'social-media-links', size: 'm-svg-icon--medium' %}
                      {% endif %}
                    </div>
                  </div>
                {% when 'newsletter' %}
                  <div class="{% if block.settings.title != blank %}m-accordion--item-content{% endif %} m-footer--block-content">
                    <p class="m-footer--block-newsletter-desc">{{ block.settings.description }}</p>
                    {% liquid
                      assign button_type = 'icon'
                      if block.settings.button_label != blank
                        assign button_type = 'text'
                      endif
                    %}
                    {% render 'newsletter-form',
                      custom_id: block.id,
                      style: block.settings.form_style,
                      button_type: button_type,
                      button_label: block.settings.button_label,
                      placeholder: block.settings.email_placeholder,
                      show_agreement: block.settings.show_agree_checkbox,
                      agree_text: settings.agree_text,
                      has_icon: block.settings.show_icon_input,
                      button_position: block.settings.button_position,
                      button_style: block.settings.button_style
                    %}
                    {% if block.settings.show_social %}
                      {% render 'social-media-links' %}
                    {% endif %}
                  </div>
                {% when 'custom_text' %}
                  {% render 'footer-block__text', block: block %}
                {% when 'custom_html' %}
                  {% render 'footer-block__html', block: block %}
                {% else %}

              {% endcase %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
