{% unless settings.product_compare_page == blank %}
  <a
    href="{{ pages[settings.product_compare_page].url }}"
    class="m-header__compare{% if box_size != blank %} {{ box_size }}{% endif %}"
    aria-label="{{ 'layout.compare.title' | t }}"
  >
    {% if display_by == 'icon' %}
      <span class="m-tooltip m:block m-tooltip--bottom m-tooltip--style-2">
        <svg class="m-svg-icon--medium" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.4508 10.3623L12.2906 12.3584C12.0719 12.5589 11.8258 12.6045 11.5523 12.4951C11.2789 12.3857 11.1422 12.1852 11.1422 11.8936V10.7998H10.2945C10.2034 10.7998 10.1213 10.7633 10.0484 10.6904L7.58748 8.03809L8.62654 6.91699L10.814 9.26855H11.1422V7.95605C11.1422 7.66439 11.2789 7.46387 11.5523 7.35449C11.8258 7.22689 12.0719 7.27246 12.2906 7.49121L14.4508 9.43262C14.5784 9.56022 14.6422 9.71517 14.6422 9.89746C14.6422 10.0798 14.5784 10.2347 14.4508 10.3623ZM0.970288 3.58105C0.879142 3.58105 0.797111 3.55371 0.724194 3.49902C0.669507 3.42611 0.642163 3.34408 0.642163 3.25293V2.37793C0.642163 2.28678 0.669507 2.21387 0.724194 2.15918C0.797111 2.08626 0.879142 2.0498 0.970288 2.0498H4.00544C4.09659 2.0498 4.17862 2.08626 4.25154 2.15918L6.71248 4.81152L5.67341 5.93262L3.48591 3.58105H0.970288ZM14.4508 2.43262C14.5784 2.56022 14.6422 2.71517 14.6422 2.89746C14.6422 3.07975 14.5784 3.2347 14.4508 3.3623L12.2906 5.3584C12.0719 5.55892 11.8258 5.60449 11.5523 5.49512C11.2789 5.38574 11.1422 5.18522 11.1422 4.89355V3.58105H10.814L4.25154 10.6904C4.17862 10.7633 4.09659 10.7998 4.00544 10.7998H0.970288C0.751538 10.7998 0.642163 10.6904 0.642163 10.4717V9.59668C0.642163 9.37793 0.751538 9.26855 0.970288 9.26855H3.48591L10.0484 2.15918C10.1213 2.08626 10.2034 2.0498 10.2945 2.0498H11.1422V0.956055C11.1422 0.664388 11.2789 0.463867 11.5523 0.354492C11.8258 0.245117 12.0719 0.29069 12.2906 0.491211L14.4508 2.43262Z" fill="currentColor"/>
        </svg>
        <span class="m-tooltip__content">{{ 'layout.compare.title' | t }}</span>
      </span>
    {% else %}
      {{ 'layout.compare.title' | t }}
    {% endif %}
    <sup class="m-compare-count m:hidden"></sup>
  </a>
{% endunless %}
