<div class="swiper-container">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      {% liquid
        assign link_tag = 'div'
        if block.settings.image_link != blank
          assign link_tag = 'a'
        endif
      %}
      <div class="swiper-slide" {{ block.shopify_attributes }} data-index="{{ forloop.index0 }}">
        <div
          class="m-testimonial{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}"
          {% if animated %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          <div class="m-testimonial__wrapper m-gradient m-color-{{ section.settings.item_color_scheme }} m:blocks-radius">
            {% if section.settings.show_stars %}
              <div class="m-stars">
                {%- for i in (1..5) -%}
                  <span class="m-star">{%- render 'icon', name: 'star-solid', size: 'small' -%}</span>
                {%- endfor -%}
              </div>
            {% endif %}

            {% if block.settings.title != blank %}
              <h3 class="m-testimonial__title">{{ block.settings.title }}</h3>
            {% endif %}
            <div class="m-testimonial__description rte">{{ block.settings.description }}</div>
            {% if block.settings.footer != blank %}
              <div class="m-testimonial__name">{{ block.settings.footer }}</div>
            {% endif %}

            {% if block.settings.image != blank %}
              <{{ link_tag }}
                {% if block.settings.image_link != blank %}
                  href="{{ block.settings.image_link | default: '#' }}"
                {% endif %}
                class="m-testimonial__image"
              >
                {% render 'responsive-image', image: block.settings.image, wrapper_class: 'm:blocks-radius-md' %}
                {% if block.settings.image_text != blank %}
                  <div class="m-testimonial__image-text">
                    {{ block.settings.image_text }}
                  </div>
                {% endif %}
              </{{ link_tag }}>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% render 'slider-controls',
  show_nav: section.settings.show_navigation,
  show_pagination: section.settings.show_pagination,
  absolute: true,
  container: section.settings.container
%}
