{{ 'collection-showcase.css' | asset_url | stylesheet_tag }}
<script src="{{ 'collection-showcase.js' | asset_url }}" defer="defer"></script>

{% liquid
  assign animation_effect = settings.animations
  assign animated = false
  if animation_effect != 'none'
    assign animated = true
    if section.settings.animations != 'inherit'
      assign animation_effect = section.settings.animations
    endif
  endif

  assign product_to_show = section.settings.product_to_show | default: 3
  assign items_per_row = 3
  assign pcard_image_ratio = section.settings.pcard_image_ratio

  assign color_scheme_first = settings.color_schemes | first
  assign section_color_scheme = section.settings.color_scheme
  assign tab_color_scheme = section.settings.color_scheme_tab
  assign color_scheme_inherit = false
  if section_color_scheme == color_scheme_first or tab_color_scheme == color_scheme_first and section_color_scheme != tab_color_scheme
    assign color_scheme_inherit = true
  endif
%}
<style>
  #m-custom-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  }
</style>
<section
  id="m-custom-{{ section.id }}"
  class="m-section m-collection-showcase m-collection-showcase--image-{{ section.settings.image_position }}"
>
  <div class="{{ section.settings.container }} m-section-my m-section-py">
    <collection-showcase
      class="m-collection-showcase__wrapper m:block{% unless color_scheme_inherit %} m:blocks-radius{% endunless %}"
      data-columns="{{ items_per_row }}"
      data-section-id="{{ section.id }}"
    >
      {% if section.blocks.size > 0 %}
        {% liquid
          assign first_block = section.blocks[0]
          assign aspect_ratio = 1
          assign first_image = first_block.settings.image
          if first_image
            assign aspect_ratio = first_image.aspect_ratio
          endif
        %}
        <div
          class="m-collection-showcase__contents m:h-full m:flex m:flex-col m:align-center m:justify-center m-gradient m-color-{{ section_color_scheme }} m:text-center{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}{% if color_scheme_inherit %} m:blocks-radius{% endif %}"
        ></div>
        <div class="m-collection-showcase__banner m:relative m-gradient m-color-{{ tab_color_scheme}}{% if color_scheme_inherit %} m:blocks-radius{% endif %}">
          <div class="m-collection-showcase__images" style="--aspect-ratio: {{ aspect_ratio }};">
            {% for block in section.blocks %}
              {% liquid
                assign collection = block.settings.collection
                assign image = block.settings.image
                capture current
                  cycle 1, 2, 3, 4, 5, 6
                endcapture
                assign placeholder_image = 'collection-' | append: current

              %}
              <div
                class="m-collection-showcase__image{% if forloop.first %} active{% endif %}"
                data-index="{{ forloop.index0 }}"
              >
                {% if image != blank %}
                  {% render 'responsive-image',
                    image: image,
                    image_class: 'm:w-full',
                    aspect_ratio: aspect_ratio,
                    section_index: section.index,
                    index: forloop.index,
                    image_attributes: image_fetchpriority,
                  %}
                {% else %}
                  <div class="m-collection-showcase__image-placeholder" style="--aspect-ratio: 1/1;">
                    {{ placeholder_image | placeholder_svg_tag: 'm-placeholder-svg' }}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <div class="m-collection-showcase__tabs m:text-center{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">
            <ul>
              {% for block in section.blocks %}
                {% liquid
                  assign collection = block.settings.collection
                  assign collection_title = block.settings.title
                %}
                <li
                  class="h2 m:relative{% if forloop.first %} active{% endif %}"
                  data-index="{{ forloop.index0 }}"
                  {{ block.shopify_attributes }}
                >
                  <a href="{{ collection.url }}" data-index="{{ forloop.index0 }}">
                    {%- if collection_title != blank -%}
                      {{- collection_title -}}
                    {%- else -%}
                      {{- collection.title -}}
                    {%- endif -%}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <template>
          {% for block in section.blocks -%}
            {% liquid
              assign collection = block.settings.collection
              assign subheading = block.settings.subheading
              assign heading = block.settings.heading
              assign heading_size = block.settings.heading_size

              assign enable_slider = true

              if collection != blank
                if product_to_show <= items_per_row or collection.products.size <= items_per_row
                  assign enable_slider = false
                endif
              else
                if product_to_show <= items_per_row
                  assign enable_slider = false
                endif
              endif
            %}
            <div class="m-collection-showcase__content" data-index="{{ forloop.index0 }}">
              <div class="m-collection-showcase__content-wrapper">
                {% if subheading != blank %}
                  <p class="m-collection-showcase__subheading h5">
                    {{ subheading }}
                  </p>
                {% endif %}
                {% if heading != blank %}
                  <h2 class="m-collection-showcase__heading {{ heading_size }}">
                    {{ heading }}
                  </h2>
                {% endif %}
                <div
                  class="m-collection-showcase__products m-mixed-layout m:relative"
                  data-enable-slider="{{ enable_slider }}"
                  style="--column-gap:12px;"
                >
                  <div class="m-mixed-layout__wrapper{% if enable_slider %} swiper-container{% endif %}">
                    <div class="m-mixed-layout__inner{% if enable_slider %} swiper-wrapper{% else %} m:grid m:grid-3-cols{% endif %}">
                      {% if collection != blank %}
                        {% for product in collection.products limit: product_to_show %}
                          <div class="swiper-slide m:column">
                            {% liquid
                              assign preview_image = product.media[0].preview_image
                              assign asp_rat = pcard_image_ratio | default: preview_image.aspect_ratio
                              if asp_rat == 'original'
                                assign asp_rat = preview_image.aspect_ratio
                              endif
                              assign alt = preview_image.alt | escape
                            %}
                            {%- capture sizes -%}(min-width: {{ settings.container_width }}px) {{ settings.container_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2){%- endcapture -%}
                            <div class="m-collection-showcase__product m:relative">
                              <a href="{{ product.url }}" class="m-hidden-link" aria-label="{{ product.title }}"></a>
                              <div class="m-collection-showcase__product-media m:blocks-radius-md">
                                {% if preview_image != blank %}
                                  <responsive-image class="m-image" style="--aspect-ratio: {{ asp_rat }}">
                                    {{
                                      preview_image
                                      | image_url: width: 1100
                                      | image_tag:
                                        loading: 'lazy',
                                        class: 'm:w-full m:h-full',
                                        alt: alt,
                                        sizes: sizes,
                                        widths: '165, 360, 535, 750, 940, 1100'
                                    }}
                                  </responsive-image>
                                {% else %}
                                  <div style="--aspect-ratio: {{ pcard_image_ratio }}">
                                    {{ 'product-1' | placeholder_svg_tag: 'm-placeholder-svg' }}
                                  </div>
                                {% endif %}
                              </div>
                              <h3 class="m:text-sm">{{ product.title }}</h3>
                            </div>
                          </div>
                        {% endfor %}
                      {% else %}
                        {% for i in (1..product_to_show) %}
                          <div class="swiper-slide m:column">
                            <div class="m-collection-showcase__product">
                              <div class="m:blocks-radius-md" style="--aspect-ratio: 1/1;">
                                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                {{
                                  'product-'
                                  | append: current
                                  | placeholder_svg_tag: 'm-placeholder-svg m:object-cover m:w-full m:h-full'
                                }}
                              </div>
                              <h3 class="m:text-sm">{{ 'homepage.onboarding.product_title' | t }}</h3>
                            </div>
                          </div>
                        {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                  {% if enable_slider %}
                    {% render 'slider-controls', absolute: true, show_nav: true, show_pagination: false %}
                  {% endif %}
                </div>
                {% if block.settings.button_text != blank %}
                  <div class="m-collection-showcase__products-footer">
                    <a
                      class="m-button {{ block.settings.button_style }} {{ block.settings.button_size }}"
                      href="{{ collection.url }}"
                      data-load-more
                    >
                      <span>{{ block.settings.button_text }}</span>
                    </a>
                  </div>
                {% endif %}
              </div>
            </div>
          {%- endfor %}
        </template>
      {% endif %}
    </collection-showcase>
  </div>
</section>

{% schema %}
{
  "name": "Collection showcase",
  "class": "shopify-section-collection-showcase",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "[Read How-to](https://foxecom.link/ui3Ejw)"
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Container type",
      "default": "container-fluid",
      "options": [
        {
          "value": "container-fluid",
          "label": "Default"
        },
        {
          "value": "container-full",
          "label": "Full width"
        },
        {
          "value": "container",
          "label": "Use container box"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_tab",
      "label": "Color scheme tabs"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "image_position",
      "info": "Position is automatically optimized for mobile.",
      "label": "Desktop image position",
      "default": "right",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "range",
      "id": "product_to_show",
      "label": "Product to show",
      "min": 3,
      "max": 12,
      "step": 1,
      "default": 3,
      "info": "The layout will automatically switch to a slider if the number of products is greater than 3"
    },
    {
      "type": "header",
      "content": "Product card settings"
    },
    {
      "type": "select",
      "id": "pcard_image_ratio",
      "label": "Image aspect ratio",
      "default": "original",
      "options": [
        {
          "value": "original",
          "label": "Original aspect ratio"
        },
        {
          "value": "1/1",
          "label": "1:1"
        },
        {
          "value": "3/4",
          "label": "3:4"
        },
        {
          "value": "4/3",
          "label": "4:3"
        },
        {
          "value": "16/9",
          "label": "16:9"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Custom Attributes"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom classes"
    },
    {
      "type": "header",
      "content": "Animations"
    },
    {
      "type": "select",
      "id": "animations",
      "label": "Visible in the view animation",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "Inherit global setting"
        },
        {
          "value": "fade-in",
          "label": "Fade in"
        },
        {
          "value": "fade-in-up",
          "label": "Fade in up"
        },
        {
          "value": "fade-in-left",
          "label": "Fade in left"
        },
        {
          "value": "fade-in-right",
          "label": "Fade in right"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "text",
          "label": "Alias to collection",
          "id": "title",
          "default": "Collection title",
          "info": "Leave it blank to use collection name"
        },
        {
          "id": "collection",
          "type": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading size",
          "default": "h2",
          "options": [
            {
              "label": "Extra small",
              "value": "h5"
            },
            {
              "label": "Small",
              "value": "h4"
            },
            {
              "label": "Medium",
              "value": "h3"
            },
            {
              "label": "Large",
              "value": "h2"
            },
            {
              "label": "Extra large",
              "value": "h1"
            }
          ]
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button label",
          "default": "Shop more",
          "info": "Leave it blank to hide"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "options": [
            {
              "value": "m-button--primary",
              "label": "Primary button"
            },
            {
              "value": "m-button--secondary",
              "label": "Secondary button"
            },
            {
              "value": "m-button--white",
              "label": "White button"
            },
            {
              "value": "m-button--link",
              "label": "Underline button"
            }
          ],
          "default": "m-button--primary"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "Button size",
          "options": [
            {
              "value": "m-button--small",
              "label": "Button small"
            },
            {
              "value": "",
              "label": "Button medium"
            },
            {
              "value": "m-button--large",
              "label": "Button large"
            }
          ],
          "default": ""
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection showcase",
      "blocks": [
        {
          "type": "collection",
          "settings": {
            "title": "Collection title"
          }
        },
        {
          "type": "collection",
          "settings": {
            "title": "Collection title"
          }
        },
        {
          "type": "collection",
          "settings": {
            "title": "Collection title"
          }
        }
      ]
    }
  ]
}
{% endschema %}
