{{ 'lookbook.css' | asset_url | stylesheet_tag }}

{% liquid
  assign lookbook_items = section.blocks | where: 'type', 'item'
  assign shop_this_look_blocks = section.blocks | where: 'type', 'shop-this-look'

  assign lookbook_cards_size = lookbook_items.size | plus: shop_this_look_blocks.size

  assign use_scroll_mobile = section.settings.use_scroll_mobile

  assign animation_effect = settings.animations
  assign animated = false
  if animation_effect != 'none'
    assign animated = true
    if section.settings.animations != 'inherit'
      assign animation_effect = section.settings.animations
    endif
  endif

  assign container = section.settings.container
  if container == 'w-full'
    assign container = 'container-full'
  endif

  assign classes = 'm-section m-lookbook'
  if section.settings.custom_class != blank
    assign classes = classes | append: ' ' | append: section.settings.custom_class
  endif
  assign classes = classes | append: ' m-gradient' | append: ' m-color-' | append: section.settings.color_scheme
%}
<style>
  #m-lookbook--{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --column-gap: 30px;
    --column-gap-mobile: 16px;
    --row-gap: 30px;
    --row-gap-mobile: 24px;
  }
</style>
<section
  id="m-lookbook--{{ section.id }}"
  class="{{ classes }}"
  data-section-type="lookbook"
  data-section-id="{{ section.id }}"
>
  <div class="{{ container }} m-section-my m-section-py">
    {% render 'index-section-header', section_settings: section.settings %}
    {% if section.blocks.size > 0 %}
      {% if lookbook_cards_size > 0 %}
        <div class="m-mixed-layout{% if use_scroll_mobile %} m-mixed-layout--mobile-scroll{% endif %}">
          <div class="m-mixed-layout__inner m:grid m:grid-1-cols md:m:grid-2-cols lg:m:grid-{{ lookbook_cards_size }}-cols">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'shop-this-look' %}
                  <div class="m:column">
                    {% render 'shop-this-look',
                      block: block,
                      image_aspect_ratio: section.settings.image_aspect_ratio,
                      index: forloop.index,
                      animated: animated,
                      animation_effect: animation_effect
                    %}
                  </div>
                {% when 'item' %}
                  <div class="m:column">
                    {% render 'lookbook-card',
                      block: block,
                      image_aspect_ratio: section.settings.image_aspect_ratio,
                      index: forloop.index,
                      animated: animated,
                      animation_effect: animation_effect
                    %}
                  </div>
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% for block in section.blocks %}
        {% if block.type == 'lookbook-slider' %}
          {% liquid
            assign block_classes = 'm-lookbook__col-full'
            assign block_classes = block_classes | append: ' m-gradient' | append: ' m-color-' | append: block.settings.color_scheme
          %}
          <div class="{{ block_classes }}">
            {% render 'lookbook-card-slider',
              block: block,
              image_aspect_ratio: section.settings.image_aspect_ratio,
              index: forloop.index,
              animated: animated,
              animation_effect: animation_effect
            %}
          </div>
        {% elsif block.type == 'lookbook-hero' %}
          <div class="m-lookbook__col-full">
            {% render 'lookbook-hero',
              block: block,
              image_aspect_ratio: section.settings.image_aspect_ratio,
              index: forloop.index,
              animated: animated,
              animation_effect: animation_effect
            %}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</section>
{% if shop_this_look_blocks.size > 0 %}
  <script src="{{ 'stl-card.js' | asset_url }}" defer="defer"></script>
{% endif %}

{% schema %}
{
  "name": "Lookbook",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "[Read How-to](https://foxecom.link/XLQaS6)"
    },
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Hand-picked"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading size",
      "default": "h3",
      "options": [
        {
          "label": "Medium",
          "value": "h3"
        },
        {
          "label": "Large",
          "value": "h2"
        }
      ]
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "header_alignment",
      "label": "Text alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Container type",
      "default": "container-fluid",
      "options": [
        {
          "value": "container-fluid",
          "label": "Default"
        },
        {
          "value": "w-full",
          "label": "Full width"
        },
        {
          "value": "container",
          "label": "Use container box"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "select",
      "id": "image_aspect_ratio",
      "label": "Image aspect ratio",
      "default": "3/4",
      "options": [
        {
          "value": "original",
          "label": "Adapt to image"
        },
        {
          "value": "1/1",
          "label": "1:1"
        },
        {
          "value": "3/4",
          "label": "3:4"
        },
        {
          "value": "4/3",
          "label": "4:3"
        },
        {
          "value": "16/9",
          "label": "16:9"
        }
      ]
    },
    {
      "type": "header",
      "content": "Mobile settings"
    },
    {
      "type": "checkbox",
      "label": "Use horizontal scrollbar",
      "id": "use_scroll_mobile",
      "default": true,
      "info": "Uncheck to display as grid, work for 'Item' and 'Shop this look' block"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Custom Attributes"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom classes"
    },
    {
      "type": "header",
      "content": "Animations"
    },
    {
      "type": "select",
      "id": "animations",
      "label": "Visible in the view animation",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "Inherit global setting"
        },
        {
          "value": "fade-in",
          "label": "Fade in"
        },
        {
          "value": "fade-in-up",
          "label": "Fade in up"
        },
        {
          "value": "fade-in-left",
          "label": "Fade in left"
        },
        {
          "value": "fade-in-right",
          "label": "Fade in right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_bg_zoom_effect",
      "label": "Enable background zoom effect. Works on Lookbook hero block only.",
      "default": true
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "header",
          "content": "General"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "Color scheme",
          "info": "Adjust color scheme for hovered product cards."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Title",
          "default": "Shop this collection"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Title link"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "options": [
            {
              "value": "dark",
              "label": "Dark"
            },
            {
              "value": "light",
              "label": "Light"
            }
          ]
        },
        {
          "type": "header",
          "content": "Product 1"
        },
        {
          "type": "range",
          "id": "top_1",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 9
        },
        {
          "type": "range",
          "id": "left_1",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 63
        },
        {
          "type": "product",
          "id": "product_1",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 2"
        },
        {
          "type": "range",
          "id": "top_2",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 26
        },
        {
          "type": "range",
          "id": "left_2",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 50
        },
        {
          "type": "product",
          "id": "product_2",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 3"
        },
        {
          "type": "range",
          "id": "top_3",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 61
        },
        {
          "type": "range",
          "id": "left_3",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 48
        },
        {
          "type": "product",
          "id": "product_3",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 4"
        },
        {
          "type": "range",
          "id": "top_4",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "left_4",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "product",
          "id": "product_4",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 5"
        },
        {
          "type": "range",
          "id": "top_5",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 20
        },
        {
          "type": "range",
          "id": "left_5",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "product",
          "id": "product_5",
          "label": "Select product"
        }
      ]
    },
    {
      "type": "lookbook-slider",
      "name": "Lookbook slider",
      "settings": [
        {
          "type": "header",
          "content": "General"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "Color scheme"
        },
        {
          "type": "header",
          "content": "Heading"
        },
        {
          "type": "textarea",
          "id": "sub_title",
          "label": "Subheading"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Heading",
          "default": "Shop this look"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading size",
          "default": "h3",
          "options": [
            {
              "value": "h4",
              "label": "Small"
            },
            {
              "value": "h3",
              "label": "Medium"
            },
            {
              "value": "h2",
              "label": "Large"
            },
            {
              "value": "h1",
              "label": "Extra large"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "Text alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_color",
          "label": "Text color",
          "options": [
            {
              "value": "white",
              "label": "Light"
            },
            {
              "value": "black",
              "label": "Dark"
            },
            {
              "value": "inherit",
              "label": "Inherit"
            }
          ],
          "default": "black"
        },
        {
          "type": "header",
          "content": "Settings"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "image_position",
          "label": "Image position",
          "default": "right",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "default": "light",
          "options": [
            {
              "value": "dark",
              "label": "Dark"
            },
            {
              "value": "light",
              "label": "Light"
            }
          ]
        },
        {
          "type": "color_scheme",
          "id": "color_scheme_hovered",
          "label": "Color scheme",
          "info": "Adjust color scheme for hovered product cards."
        },
        {
          "type": "header",
          "content": "Product 1"
        },
        {
          "type": "range",
          "id": "top_1",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 9
        },
        {
          "type": "range",
          "id": "left_1",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 63
        },
        {
          "type": "product",
          "id": "product_1",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 2"
        },
        {
          "type": "range",
          "id": "top_2",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 26
        },
        {
          "type": "range",
          "id": "left_2",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 50
        },
        {
          "type": "product",
          "id": "product_2",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 3"
        },
        {
          "type": "range",
          "id": "top_3",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 61
        },
        {
          "type": "range",
          "id": "left_3",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 48
        },
        {
          "type": "product",
          "id": "product_3",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 4"
        },
        {
          "type": "range",
          "id": "top_4",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "left_4",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "product",
          "id": "product_4",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 5"
        },
        {
          "type": "range",
          "id": "top_5",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 20
        },
        {
          "type": "range",
          "id": "left_5",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "product",
          "id": "product_5",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Slider settings"
        },
        {
          "type": "select",
          "id": "product_per_view",
          "label": "Columns",
          "default": "2",
          "options": [
            {
              "value": "2",
              "label": "2 Columns"
            },
            {
              "value": "1",
              "label": "1 Column"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_pagination",
          "label": "Show pagination",
          "default": true
        },
        {
          "type": "select",
          "id": "pagination_style",
          "label": "Pagination style",
          "options": [
            {
              "value": "fraction",
              "label": "Fraction"
            },
            {
              "value": "bullets",
              "label": "Bullets"
            }
          ],
          "default": "fraction"
        },
        {
          "type": "checkbox",
          "id": "show_navigation",
          "label": "Show navigation",
          "default": true
        },
        {
          "type": "header",
          "content": "Product card settings"
        },
        {
          "type": "select",
          "id": "pcard_layout",
          "label": "Design layout",
          "default": "",
          "options": [
            {
              "value": "",
              "label": "Use global settings"
            },
            {
              "value": "1",
              "label": "Style 1"
            },
            {
              "value": "2",
              "label": "Style 2"
            },
            {
              "value": "3",
              "label": "Style 3"
            },
            {
              "value": "4",
              "label": "Style 4"
            },
            {
              "value": "5",
              "label": "Style 5"
            }
          ]
        },
        {
          "type": "select",
          "id": "pcard_image_ratio",
          "label": "Image aspect ratio",
          "default": "",
          "options": [
            {
              "value": "",
              "label": "Use global settings"
            },
            {
              "value": "original",
              "label": "Original aspect ratio"
            },
            {
              "value": "1/1",
              "label": "1:1"
            },
            {
              "value": "3/4",
              "label": "3:4"
            },
            {
              "value": "4/3",
              "label": "4:3"
            },
            {
              "value": "16/9",
              "label": "16:9"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_vendor",
          "label": "Show product vendors",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "hide_title",
          "label": "Hide product title",
          "default": false
        }
      ]
    },
    {
      "type": "shop-this-look",
      "name": "Shop this look",
      "settings": [
        {
          "type": "header",
          "content": "General"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "Color scheme",
          "info": "Adjust color scheme for popup card."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title_text",
          "label": "Title",
          "default": "Shop this look"
        },
        {
          "type": "select",
          "id": "title_size",
          "label": "Title size",
          "options": [
            {
              "value": "m:text-base",
              "label": "Small"
            },
            {
              "value": "h4",
              "label": "Medium"
            },
            {
              "value": "h3",
              "label": "Large"
            }
          ],
          "default": "m:text-base"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Title alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ]
        },
        {
          "type": "url",
          "id": "title_link",
          "label": "Title link"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Shop this look"
        },
        {
          "type": "product_list",
          "id": "product_list",
          "label": "Products"
        }
      ]
    },
    {
      "type": "lookbook-hero",
      "name": "Lookbook hero",
      "settings": [
        {
          "type": "header",
          "content": "Settings"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "options": [
            {
              "value": "dark",
              "label": "Dark"
            },
            {
              "value": "light",
              "label": "Light"
            }
          ]
        },
        {
          "type": "color_scheme",
          "id": "color_scheme_hovered",
          "label": "Color scheme",
          "info": "Adjust color scheme for hovered product cards."
        },
        {
          "type": "header",
          "content": "Slider"
        },
        {
          "type": "range",
          "id": "slider_offset_x",
          "label": "Offset X",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 10
        },
        {
          "type": "header",
          "content": "Product 1"
        },
        {
          "type": "range",
          "id": "top_1",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 9
        },
        {
          "type": "range",
          "id": "left_1",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 63
        },
        {
          "type": "range",
          "id": "m_top_1",
          "label": "Offset top (Mobile image)",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 9
        },
        {
          "type": "range",
          "id": "m_left_1",
          "label": "Offset left (Mobile image)",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 63
        },
        {
          "type": "product",
          "id": "product_1",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 2"
        },
        {
          "type": "range",
          "id": "top_2",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 26
        },
        {
          "type": "range",
          "id": "left_2",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 50
        },
        {
          "type": "range",
          "id": "m_top_2",
          "label": "Offset top (Mobile image)",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 26
        },
        {
          "type": "range",
          "id": "m_left_2",
          "label": "Offset left (Mobile image)",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 50
        },
        {
          "type": "product",
          "id": "product_2",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 3"
        },
        {
          "type": "range",
          "id": "top_3",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 61
        },
        {
          "type": "range",
          "id": "left_3",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 48
        },
        {
          "type": "range",
          "id": "m_top_3",
          "label": "Offset top (Mobile image)",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 61
        },
        {
          "type": "range",
          "id": "m_left_3",
          "label": "Offset left (Mobile image)",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 48
        },
        {
          "type": "product",
          "id": "product_3",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 4"
        },
        {
          "type": "range",
          "id": "top_4",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "left_4",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "m_top_4",
          "label": "Offset top (Mobile image)",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "m_left_4",
          "label": "Offset left (Mobile image)",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "product",
          "id": "product_4",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 5"
        },
        {
          "type": "range",
          "id": "top_5",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 20
        },
        {
          "type": "range",
          "id": "left_5",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "m_top_5",
          "label": "Offset top (Mobile image)",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 20
        },
        {
          "type": "range",
          "id": "m_left_5",
          "label": "Offset left (Mobile image)",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "product",
          "id": "product_5",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Slider settings"
        },
        {
          "type": "checkbox",
          "id": "show_pagination",
          "label": "Show pagination",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_navigation",
          "label": "Show navigation",
          "default": true
        },
        {
          "type": "header",
          "content": "Product card settings"
        },
        {
          "type": "select",
          "id": "pcard_layout",
          "label": "Design layout",
          "default": "",
          "options": [
            {
              "value": "",
              "label": "Use global settings"
            },
            {
              "value": "1",
              "label": "Style 1"
            },
            {
              "value": "2",
              "label": "Style 2"
            },
            {
              "value": "3",
              "label": "Style 3"
            },
            {
              "value": "4",
              "label": "Style 4"
            },
            {
              "value": "5",
              "label": "Style 5"
            }
          ]
        },
        {
          "type": "select",
          "id": "pcard_image_ratio",
          "label": "Image aspect ratio",
          "default": "",
          "options": [
            {
              "value": "",
              "label": "Use global settings"
            },
            {
              "value": "original",
              "label": "Original aspect ratio"
            },
            {
              "value": "1/1",
              "label": "1:1"
            },
            {
              "value": "3/4",
              "label": "3:4"
            },
            {
              "value": "4/3",
              "label": "4:3"
            },
            {
              "value": "16/9",
              "label": "16:9"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_vendor",
          "label": "Show product vendors",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "hide_title",
          "label": "Hide product title",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Lookbook",
      "category": "Lookbook",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
