{%- capture page_title -%}
  {{ 'customer.reset_password.title' | t }}
{%- endcapture -%}
{% render 'page-title', title: page_title %}

<div class="m-reset-password-form">
<div class="m-reset-password-form__wrapper">
  <h1>{{ 'customer.reset_password.title' | t }}</h1>
  <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

  {% form 'reset_customer_password' %}
  {% render 'form__error', form: form %}

  <input type="password" name="customer[password]" id="ResetPassword"
      class="form-field form-field--input {% if form.errors contains 'password' %}input-error{% endif %}"
      placeholder="{{ 'customer.reset_password.password' | t }}">

  <input type="password" name="customer[password_confirmation]" id="PasswordConfirmation"
      class="form-field form-field--input {% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
      placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

  <button type="submit" class="m-button m-button--primary">
      {{ 'customer.reset_password.submit' | t }}
  </button>
  {% endform %}
</div>
</div>